.div1.fly-birds-page_7c25a99ccb {
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
}
.div1.fly-birds-page_7c25a99ccb,
.div1.fly-birds-page_7c25a99ccb .div2 {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  width: 10rem;
}
.div1.fly-birds-page_7c25a99ccb .div2 {
  align-items: center;
  flex-direction: row;
  height: 5.46875rem;
  padding-right: 1.664063rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div2 .image3 {
  height: 5.46875rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div2 .div4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -3.890625rem;
  margin-top: -0.679688rem;
  min-height: 0.84375rem;
  width: 2.226563rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div2 .div4 .div5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  width: 3.125rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div2 .div4 .div5 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div2 .div4 .div5 .split_text712 {
  color: #000;
  font-size: 0.28125rem;
  line-height: 1;
}
.div1.fly-birds-page_7c25a99ccb .div2 .div4 .div5 .split_text713 {
  color: #000;
  font-size: 0.195313rem;
  line-height: 1.2;
  margin-top: 0.078125rem;
}
.div1.fly-birds-page_7c25a99ccb .div2 .div4 .div6 {
  align-items: flex-start;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin-top: 0.15625rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 5.542969rem;
  justify-content: flex-start;
  padding-bottom: 0.394531rem;
  width: 10rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div8 .image9 {
  height: 5.542969rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.324219rem;
  margin-top: -4.761719rem;
  min-height: 2.5625rem;
  width: 2.332031rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div10 .image11 {
  height: 2.5625rem;
  width: 2.332031rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div10 .image12 {
  height: 0.21875rem;
  margin-left: 0.335938rem;
  margin-top: -2.222656rem;
  width: 0.847656rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div10 .div13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.347656rem;
  margin-top: 0.105469rem;
  min-height: 0.09375rem;
  width: 0.667969rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div10 .div13 .split_text715 {
  color: #000;
  font-size: 0.101563rem;
  line-height: 0.125rem;
  opacity: 0.6;
  text-align: left;
  width: 1.328125rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div14 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.496094rem;
  margin-top: -2.5625rem;
  min-height: 1.28125rem;
  width: 2.332031rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div14 .image15 {
  height: 1.28125rem;
  width: 2.332031rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div14 .div16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -2.015625rem;
  margin-top: -0.160156rem;
  min-height: 0.457031rem;
  width: 0.617188rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div14 .div16 .split_text716 {
  color: #fff;
  font-size: 0.140625rem;
  line-height: 0.179688rem;
  text-align: left;
  width: 0.742188rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4.820313rem;
  margin-top: -1.28125rem;
  min-height: 1.28125rem;
  width: 1.835938rem;
  z-index: 3;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div17 .image18 {
  height: 1.28125rem;
  width: 1.835938rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div17 .div19 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.007813rem;
  margin-top: -1.003906rem;
  min-height: 0.101563rem;
  width: 0.90625rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div17 .div19 .split_text717 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.117188rem;
  text-align: center;
  width: 1.238281rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div20 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2.410156rem;
  margin-top: 0.078125rem;
  min-height: 1.203125rem;
  padding-bottom: 0.328125rem;
  width: 4.246094rem;
  z-index: 6;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div20 .image21 {
  height: 1.203125rem;
  width: 4.246094rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div20 .split_text172 {
  color: #000;
  font-size: 0.179688rem;
  line-height: 1.2;
  margin-left: 2.382813rem;
  margin-top: -0.839844rem;
  opacity: 1;
  width: 1.757813rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div20 .div23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.316406rem;
  margin-top: 0.121094rem;
  min-height: 0.222656rem;
  width: 0.703125rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div20 .div23 .split_text720 {
  color: #000;
  font-size: 0.101563rem;
  line-height: 0.125rem;
  opacity: 0.6;
  text-align: left;
  width: 1.015625rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.605469rem;
  margin-top: 0.078125rem;
  min-height: 1.726563rem;
  width: 3.050781rem;
  z-index: 4;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div24 .image25 {
  height: 1.726563rem;
  width: 3.050781rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div24 .image26 {
  height: 0.128906rem;
  margin-left: 0.347656rem;
  margin-top: -1.429688rem;
  width: 0.339844rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div24 .div27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.351563rem;
  margin-top: 0.078125rem;
  min-height: 0.191406rem;
  width: 0.746094rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div24 .div27 .split_text718 {
  color: #fff;
  font-size: 0.101563rem;
  line-height: 0.117188rem;
  text-align: left;
  width: 0.898438rem;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div28 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 3.128906rem;
  margin-top: -1.726563rem;
  min-height: 1.726563rem;
  padding-bottom: 0.347656rem;
  width: 3.527344rem;
  z-index: 5;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div28 .image29 {
  height: 1.726563rem;
  width: 3.527344rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div28 .image30 {
  height: 0.097656rem;
  margin-right: 0.816406rem;
  margin-top: -0.628906rem;
  width: 0.265625rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div28 .div31 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.355469rem;
  margin-top: 0.113281rem;
  min-height: 0.070313rem;
  width: 0.734375rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div8 .div28 .div31 .split_text719 {
  color: #000;
  font-size: 0.101563rem;
  line-height: 0.117188rem;
  opacity: 0.6;
  text-align: left;
  width: 0.898438rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.699219rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 3;
}
.div1.fly-birds-page_7c25a99ccb .div32 .image33 {
  height: 6.699219rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1px;
  margin-top: -6.308594rem;
  min-height: 1.515625rem;
  width: 5.378906rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div32 .div34 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div35 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.027344rem;
  min-height: 0.214844rem;
  width: 2.25rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div35 .split_text723 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.621094rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div32 .div34 .div35 .split_text723 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div36 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.023438rem;
  margin-top: 0.089844rem;
  min-height: 0.21875rem;
  width: 3.519531rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div36 .split_text724 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.621094rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div32 .div34 .div36 .split_text724 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div37 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.207031rem;
  min-height: 0.269531rem;
  width: 5.378906rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div37 .split_text722 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div38 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.039063rem;
  margin-top: 0.417969rem;
  min-height: 0.097656rem;
  width: 2.785156rem;
}
.div1.fly-birds-page_7c25a99ccb .div32 .div34 .div38 .split_text721 {
  color: #000;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.140625rem;
  opacity: 0.7;
  text-align: center;
  width: 5.609375rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 7.722656rem;
  justify-content: flex-start;
  padding-bottom: 0.582031rem;
  width: 10rem;
  z-index: 4;
}
.div1.fly-birds-page_7c25a99ccb .div39 .image40 {
  height: 7.722656rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: -6.992188rem;
  min-height: 6.410156rem;
  width: 5.511719rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div39 .div41 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.007813rem;
  min-height: 0.222656rem;
  width: 2.621094rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div42 .split_text726 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.609375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div39 .div41 .div42 .split_text726 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div43 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.015625rem;
  margin-top: 0.085938rem;
  min-height: 0.21875rem;
  width: 4.316406rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div43 .split_text727 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.613281rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div39 .div41 .div43 .split_text727 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div44 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.207031rem;
  min-height: 0.269531rem;
  width: 5.511719rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div44 .split_text725 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: center;
  width: 5.625rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div45 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  margin-top: 5.023438rem;
  min-height: 0.097656rem;
  width: 2.398438rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div39 .div41 .div45 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div45 .split_text728 {
  color: #000;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.140625rem;
  opacity: 0.7;
  text-align: center;
  width: 5.621094rem;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1px;
  margin-top: 0.046875rem;
  min-height: 0.238281rem;
  width: 5.445313rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div39 .div41 .div46 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div39 .div41 .div46 .split_text729 {
  color: #000;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.140625rem;
  opacity: 0.7;
  text-align: center;
  width: 5.621094rem;
}
.div1.fly-birds-page_7c25a99ccb .div47 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4.8125rem;
  justify-content: flex-start;
  padding-bottom: 0.84375rem;
  width: 10rem;
  z-index: 5;
}
.div1.fly-birds-page_7c25a99ccb .div47 .image48 {
  height: 4.8125rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.328125rem;
  margin-top: -3.632813rem;
  min-height: 1.261719rem;
  width: 2.34375rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div50 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.027344rem;
  min-height: 0.171875rem;
  width: 1.542969rem;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div50 .split_text731 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.441406rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div47 .div49 .div50 .split_text731 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div51 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.03125rem;
  margin-top: 0.136719rem;
  min-height: 0.199219rem;
  width: 1.496094rem;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div51 .split_text732 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.4375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div47 .div49 .div51 .split_text732 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div52 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.171875rem;
  min-height: 0.582031rem;
  width: 2.34375rem;
}
.div1.fly-birds-page_7c25a99ccb .div47 .div49 .div52 .split_text730 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.453125rem;
}
.div1.fly-birds-page_7c25a99ccb .div54 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.332031rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 6;
}
.div1.fly-birds-page_7c25a99ccb .div54 .image55 {
  height: 5.332031rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.339844rem;
  margin-top: -1.679688rem;
  min-height: 1.574219rem;
  width: 2.164063rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div57 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.019531rem;
  min-height: 0.21875rem;
  width: 1.828125rem;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div57 .split_text734 {
  color: #fff;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 3rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div54 .div56 .div57 .split_text734 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div58 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.089844rem;
  min-height: 0.21875rem;
  width: 1.5625rem;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div58 .split_text735 {
  color: #fff;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 3rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div54 .div56 .div58 .split_text735 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div59 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.152344rem;
  min-height: 0.894531rem;
  width: 2.164063rem;
}
.div1.fly-birds-page_7c25a99ccb .div54 .div56 .div59 .split_text733 {
  color: #fff;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.8rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 6.488281rem;
  justify-content: flex-start;
  padding-right: 3.191406rem;
  width: 10rem;
  z-index: 7;
}
.div1.fly-birds-page_7c25a99ccb .div60 .image61 {
  height: 6.488281rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.339844rem;
  margin-top: -0.734375rem;
  min-height: 3.863281rem;
  width: 5.148438rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div63 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.019531rem;
  min-height: 0.226563rem;
  width: 4.632813rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div63 .split_text737 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 7rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div60 .div62 .div63 .split_text737 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div64 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.082031rem;
  min-height: 0.226563rem;
  width: 5.136719rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div64 .split_text738 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 5.210938rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div60 .div62 .div64 .split_text738 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div65 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.148438rem;
  min-height: 0.269531rem;
  width: 5.003906rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div65 .split_text736 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 5.214844rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div66 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.027344rem;
  margin-top: 0.859375rem;
  min-height: 0.269531rem;
  width: 1.59375rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div66 .split_text739 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(57deg, #5575b1, #7397c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 2.445313rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div67 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.019531rem;
  margin-top: 0.128906rem;
  min-height: 0.140625rem;
  width: 1.730469rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div67 .split_text740 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 2.545313rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .image68 {
  height: 1px;
  margin-left: 0.023438rem;
  margin-top: 0.40625rem;
  width: 0.9375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div60 .div62 .image68 {
  height: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div69 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.027344rem;
  margin-top: 0.394531rem;
  min-height: 0.269531rem;
  width: 1.75rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div69 .split_text741 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(57deg, #5575b1, #7397c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 2.445313rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div70 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.132813rem;
  min-height: 0.304688rem;
  width: 1.6875rem;
}
.div1.fly-birds-page_7c25a99ccb .div60 .div62 .div70 .split_text742 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 2.34375rem;
}
.div1.fly-birds-page_7c25a99ccb .div71 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5.644531rem;
  justify-content: flex-start;
  padding-right: 1.691406rem;
  width: 10rem;
  z-index: 8;
}
.div1.fly-birds-page_7c25a99ccb .div71 .image72 {
  height: 5.644531rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.484375rem;
  margin-top: -0.402344rem;
  min-height: 1.992188rem;
  width: 2.792969rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div74 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  width: 2.132813rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div71 .div73 .div74 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div74 .split_text744 {
  color: #fff;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  width: 2.382813rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div71 .div73 .div74 .split_text744 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.097656rem;
  min-height: 0.5rem;
  width: 2.257813rem;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div75 .split_text745 {
  color: #fff;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.796875rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div71 .div73 .div75 .split_text745 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div76 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.230469rem;
  min-height: 0.710938rem;
  width: 2.792969rem;
}
.div1.fly-birds-page_7c25a99ccb .div71 .div73 .div76 .split_text743 {
  color: #fff;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 3.007813rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 5.636719rem;
  justify-content: flex-start;
  padding-bottom: 1.238281rem;
  width: 10rem;
  z-index: 9;
}
.div1.fly-birds-page_7c25a99ccb .div77 .image78 {
  height: 5.636719rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -3.761719rem;
  margin-top: -4.359375rem;
  min-height: 0.992188rem;
  width: 2.902344rem;
  z-index: 4;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div80 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.171875rem;
  width: 1.519531rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div77 .div79 .div80 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div80 .split_text755 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.9375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div77 .div79 .div80 .split_text755 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div81 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.023438rem;
  margin-top: 0.132813rem;
  min-height: 0.226563rem;
  width: 2.035156rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div81 .split_text756 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.9375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div77 .div79 .div81 .split_text756 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div82 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.21875rem;
  min-height: 0.242188rem;
  width: 2.902344rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div79 .div82 .split_text754 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.9375rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -2.039063rem;
  margin-top: 0.554688rem;
  min-height: 0.554688rem;
  width: 1.257813rem;
  z-index: 2;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 0.402344rem;
  width: 1.257813rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 .image85 {
  height: 0.296875rem;
  width: 0.171875rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 .div86 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.238281rem;
  margin-top: 0.074219rem;
  min-height: 0.328125rem;
  width: 0.847656rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 .div86 .div87 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.796875rem;
}
.div1.fly-birds-page_7c25a99ccb
  .div77
  .div83
  .div84
  .div86
  .div87
  .split_text749 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div83
  .div84
  .div86
  .div87
  .split_text749 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div84 .div86 .div88 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.847656rem;
}
.div1.fly-birds-page_7c25a99ccb
  .div77
  .div83
  .div84
  .div86
  .div88
  .split_text750 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div83
  .div84
  .div86
  .div88
  .split_text750 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.066406rem;
  margin-top: 0.25rem;
  min-height: 0.113281rem;
  width: 0.773438rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div83 .div89 .split_text751 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div77 .div83 .div89 .split_text751 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -5.355469rem;
  margin-top: -0.53125rem;
  min-height: 0.511719rem;
  width: 1.261719rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 0.378906rem;
  width: 1.261719rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 .image92 {
  height: 0.273438rem;
  width: 0.144531rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 .div93 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.238281rem;
  margin-top: 0.050781rem;
  min-height: 0.328125rem;
  width: 0.878906rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 .div93 .div94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.113281rem;
  width: 0.492188rem;
}
.div1.fly-birds-page_7c25a99ccb
  .div77
  .div90
  .div91
  .div93
  .div94
  .split_text746 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div90
  .div91
  .div93
  .div94
  .split_text746 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div91 .div93 .div95 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.007813rem;
  min-height: 0.113281rem;
  width: 0.871094rem;
}
.div1.fly-birds-page_7c25a99ccb
  .div77
  .div90
  .div91
  .div93
  .div95
  .split_text747 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div90
  .div91
  .div93
  .div95
  .split_text747 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div96 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.121094rem;
  margin-top: 0.25rem;
  min-height: 0.089844rem;
  width: 0.625rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div90 .div96 .split_text748 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 0.933594rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div77 .div90 .div96 .split_text748 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -3.960938rem;
  margin-top: 0.484375rem;
  min-height: 0.554688rem;
  width: 2.765625rem;
  z-index: 3;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div98 {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 0.324219rem;
  width: 2.765625rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div98 .image99 {
  height: 0.289063rem;
  margin-bottom: 0.035156rem;
  width: 0.320313rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div98 .div100 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.113281rem;
  min-height: 0.246094rem;
  width: 2.332031rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div98 .div100 .split_text752 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.8rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div97
  .div98
  .div100
  .split_text752 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div101 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -0.253906rem;
  min-height: 0.113281rem;
  width: 1.628906rem;
}
.div1.fly-birds-page_7c25a99ccb .div77 .div97 .div101 .split_text753 {
  color: #333;
  font-size: 0.117188rem;
  letter-spacing: -1px;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.539063rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div77
  .div97
  .div101
  .split_text753 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div102 {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5.605469rem;
  justify-content: flex-start;
  width: 10rem;
  z-index: 10;
}
.div1.fly-birds-page_7c25a99ccb .div102 .image103 {
  height: 5.605469rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -8.335938rem;
  margin-top: 0.105469rem;
  min-height: 3.640625rem;
  width: 2.585938rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div105 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.027344rem;
  min-height: 0.222656rem;
  width: 2.558594rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div105 .split_text762 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.9375rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div102
  .div104
  .div105
  .split_text762 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div106 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.019531rem;
  margin-top: 0.082031rem;
  min-height: 0.175781rem;
  width: 2.53125rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div106 .split_text763 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.9375rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div102
  .div104
  .div106
  .split_text763 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div107 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.269531rem;
  min-height: 0.582031rem;
  width: 2.535156rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div107 .split_text761 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.734375rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div108 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.015625rem;
  margin-top: 0.433594rem;
  min-height: 0.265625rem;
  width: 0.632813rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div108 .split_text757 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(57deg, #5575b1, #7397c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 1.847656rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div109 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.007813rem;
  margin-top: 0.125rem;
  min-height: 0.140625rem;
  width: 1.511719rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div109 .split_text758 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 1.847656rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .image110 {
  height: 1px;
  margin-left: 0.019531rem;
  margin-top: 0.40625rem;
  width: 0.9375rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div102 .div104 .image110 {
  height: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div111 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.015625rem;
  margin-top: 0.402344rem;
  min-height: 0.265625rem;
  width: 0.417969rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div111 .split_text759 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(57deg, #5575b1, #7397c9);
  -webkit-background-clip: text;
  background-clip: text;
  color: #000;
  font-size: 0.28125rem;
  line-height: 0.351563rem;
  text-align: left;
  width: 1.847656rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div112 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.007813rem;
  margin-top: 0.128906rem;
  min-height: 0.136719rem;
  width: 0.746094rem;
}
.div1.fly-birds-page_7c25a99ccb .div102 .div104 .div112 .split_text760 {
  color: #000;
  font-size: 0.140625rem;
  line-height: 0.222656rem;
  text-align: left;
  width: 1.847656rem;
}
.div1.fly-birds-page_7c25a99ccb .div113 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 5.164063rem;
  justify-content: flex-start;
  padding-right: 1.699219rem;
  width: 10rem;
  z-index: 11;
}
.div1.fly-birds-page_7c25a99ccb .div113 .image114 {
  height: 5.164063rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -4.074219rem;
  margin-top: 0.355469rem;
  min-height: 1.722656rem;
  width: 2.375rem;
  z-index: 1;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div116 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1px;
  min-height: 0.453125rem;
  width: 2.003906rem;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div113 .div115 .div116 {
  margin-left: 0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div116 .split_text765 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.410156rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div113
  .div115
  .div116
  .split_text765 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div117 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.011719rem;
  margin-top: 0.132813rem;
  min-height: 0.503906rem;
  width: 2.191406rem;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div117 .split_text766 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: left;
  width: 2.386719rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div113
  .div115
  .div117
  .split_text766 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div118 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.207031rem;
  min-height: 0.425781rem;
  width: 2.375rem;
}
.div1.fly-birds-page_7c25a99ccb .div113 .div115 .div118 .split_text764 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: left;
  width: 2.414063rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5.984375rem;
  justify-content: flex-start;
  position: relative;
  width: 10rem;
  z-index: 12;
}
.div1.fly-birds-page_7c25a99ccb .div119 .slick-dots {
  bottom: 0.507813rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .slick-dots li {
  margin: 0 0.117188rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .slick-dots li button {
  background-image: url(https://i02.appmifile.com/150_operatorx_operatorx_xm/06/04/2023/b1d8eb3c4aa5ca848a2051f1e3be18ca.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0.195313rem;
  width: 0.195313rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .slick-dots li:nth-child(2) button {
  background-image: url(https://i02.appmifile.com/679_operatorx_operatorx_xm/06/04/2023/e71ef6c85699a242a5a41cdabaf80269.png);
}
.div1.fly-birds-page_7c25a99ccb .div119 .slick-dots li:nth-child(3) button {
  background-image: url(https://i02.appmifile.com/614_operatorx_operatorx_xm/06/04/2023/1f89fb35a385b8e9332117235719ab3e.png);
}
.div1.fly-birds-page_7c25a99ccb .div119 .words {
  bottom: 0.546875rem;
  color: #000;
  font-size: 0.21875rem;
  left: 3.984375rem;
  line-height: 1;
  position: absolute;
  width: 1.953125rem;
  z-index: 3;
}
.div1.fly-birds-page_7c25a99ccb .div119 .img01 {
  height: 0.195313rem;
  margin-right: 0.078125rem;
  width: 0.195313rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .item {
  display: none;
}
.div1.fly-birds-page_7c25a99ccb .div119 .item.active {
  align-items: center;
  display: flex;
  justify-content: center;
}
.div1.fly-birds-page_7c25a99ccb .div119 .image120 {
  height: 5.984375rem;
  width: 10rem;
  z-index: 0;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: -1px;
  margin-top: -5.277344rem;
  min-height: 1.003906rem;
  width: 4.488281rem;
  z-index: 1;
}
.hairlines .div1.fly-birds-page_7c25a99ccb .div119 .div121 {
  margin-left: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div122 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 0.222656rem;
  width: 2.621094rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div122 .split_text768 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.632813rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div119
  .div121
  .div122
  .split_text768 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div123 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.085938rem;
  min-height: 0.21875rem;
  width: 1.707031rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div123 .split_text769 {
  color: #000;
  font-size: 0.234375rem;
  letter-spacing: -1px;
  line-height: 0.28125rem;
  text-align: center;
  width: 5.613281rem;
}
.hairlines
  .div1.fly-birds-page_7c25a99ccb
  .div119
  .div121
  .div123
  .split_text769 {
  letter-spacing: -0.5px;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .spacer {
  flex: 1 1;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div124 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.207031rem;
  min-height: 0.269531rem;
  width: 4.488281rem;
}
.div1.fly-birds-page_7c25a99ccb .div119 .div121 .div124 .split_text767 {
  color: #000;
  font-size: 0.117188rem;
  letter-spacing: 0;
  line-height: 0.15625rem;
  text-align: center;
  width: 4.804688rem;
}

.div1.fly-birds-page_7c25a99ccb .div125 {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 3.371094rem;
  justify-content: flex-start;
  padding-right: 2.4375rem;
  width: 10rem;
  z-index: 13;
}

.div1.fly-birds-page_7c25a99ccb .div125 .image126 {
  height: 3.371094rem;
  width: 10rem;
  z-index: 0;
}

.div1.fly-birds-page_7c25a99ccb .div125 .image127 {
  height: 0.332031rem;
  margin-left: -3.21875rem;
  margin-top: -0.6875rem;
  width: 1.550781rem;
  z-index: 2;
}

.div1.fly-birds-page_7c25a99ccb .div125 .div128 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -1.45rem;
  margin-top: -0.652344rem;
  min-height: 0.117188rem;
  width: 0.535156rem;
  z-index: 3;
}

.div1.fly-birds-page_7c25a99ccb .div125 .div128 .split_text770 {
  color: #000;
  font-size: 0.125rem;
  line-height: 0.175781rem;
  text-align: left;
  width: 1rem;
}

.div1.fly-birds-page_7c25a99ccb .div129 {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -0.015625rem;
  padding: 0.546875rem 0 0.703125rem;
  width: 10rem;
  z-index: 14;
}

.div1.fly-birds-page_7c25a99ccb .div129 .split_text771 {
  color: #656565;
  font-size: 0.101563rem;
  letter-spacing: 0;
  line-height: 0.125rem;
  text-align: left;
  width: 5.605469rem;
}
.specs-con {
  background-color: #fff;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1226px;
}

html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.046875rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.007813rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}
.eg .footer.footer--desktop,
.eg .header.header--desktop,
.eg .site-footer-v4,
.eg .site-header-v4rd,
.eg .xm-button,
.eg .xm-navbar,
.eg .xm-price,
.eg .xm-text,
.gcc .footer.footer--desktop,
.gcc .header.header--desktop,
.gcc .site-footer-v4,
.gcc .site-header-v4rd,
.gcc .xm-button,
.gcc .xm-navbar,
.gcc .xm-price,
.gcc .xm-text,
.sa .footer.footer--desktop,
.sa .header.header--desktop,
.sa .site-footer-v4,
.sa .site-header-v4rd,
.sa .xm-button,
.sa .xm-navbar,
.sa .xm-price,
.sa .xm-text {
  direction: rtl;
}
.eg .header.header--desktop .site-logo .site-logo__wrapper img,
.gcc .header.header--desktop .site-logo .site-logo__wrapper img,
.sa .header.header--desktop .site-logo .site-logo__wrapper img {
  transform: none;
}
.eg .header.header--desktop .entry__item:before,
.gcc .header.header--desktop .entry__item:before,
.sa .header.header--desktop .entry__item:before {
  right: 0;
}
.eg .header.header--desktop .entry__left .entry__item:first-child,
.gcc .header.header--desktop .entry__left .entry__item:first-child,
.sa .header.header--desktop .entry__left .entry__item:first-child {
  padding-left: 20px;
}

.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: initial;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: initial;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.hairlines abbr[title] {
  border-bottom: 0.5px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: initial;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: initial;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 0.007813rem;
  padding: 0.35em 0.625em 0.75em;
}
.hairlines fieldset {
  border: 0.5px solid silver;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.5;
}
a,
body {
  color: #757575;
}
p > a {
  color: #ff6700;
}
p > a:hover {
  text-decoration: underline;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.429688rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.390625rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.351563rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.234375rem;
}
.eco_ksp {
  font-size: 0.117188rem;
  line-height: 0.171875rem;
}
.eco_name-radius {
  border-radius: 0.015625rem;
  font-size: 0.15625rem;
  line-height: 0.226563rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.117188rem 0.136719rem;
}
.eco_title {
  font-size: 0.234375rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.117188rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.109375rem;
}
.eco_number {
  font-size: 0.429688rem;
  line-height: 0.429688rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.257813rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.039063rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.039063rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}
.scroll-common .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common-grey .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common-grey .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common-grey .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-small li > button {
  border-radius: 0;
  height: 0.023438rem;
  margin: 0 0.03125rem;
  width: 0.195313rem;
}
.scroll-small .slick-slide div img {
  border-radius: 0.195313rem;
}
.eco_specs-title {
  font-size: 0.109375rem;
  line-height: 0.140625rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.070313rem;
  line-height: 0.101563rem;
}
.f-extra,
.f-light,
.f-thin {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}
@font-face {
  font-family: CamphorPro-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}

a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}
body {
  background-color: var(--background-base);
  color: var(--title-dark);
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}
